@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  text-align: center;
  margin: 0px 20px 200px 20px;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
}

h2 {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,
h2 {
  color: navy
}

/*.input {
  border: 1px solid rgba(0, 0, 0, .25);
}*/

.input,
.update,
.updateBtn,
.deleteBtn {
  border: 1px solid rgba(0, 0, 0, .25);
  display: block;
  margin: .5em auto;
  border-radius: 3px;
  padding: .5em;
  width: 18em
}

/*
User should see a 2 column grid
Each item in the grid should contain the review info (image, name of work, artrist, link)
Each grid box should be a square
Within each square the image of each item should be a maximum width and height
The name and artist should be at the same height positioned at the bottom of each grid square in each row
*/

.reviews-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
  /* Two columns of equal width */
  gap: 1rem;
  /* Add spacing between the items */
}

.review {
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  margin: auto;
  /*padding: 20px;*/
  /*margin: 20px;*/
}

.review-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.review-img {
  /*height: max-content;
  width: max-content;*/
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.review-details {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgba(1, 1, 122, .75);
}

.show {
  text-align: center;
  margin-top: 5%;
}

.review-title,
.review-artist {
  font-family: Arial, Helvetica, sans-serif;
}

.review-body {
  font-family: Arial, Helvetica, sans-serif;
}

#submitBtn,
.updateBtn,
.deleteBtn {
  background-color: white;
  color: black;
  /*border: 2px solid navy;*/
}

.updateBtn:hover {
  background-color: rgba(0, 0, 600, .75);
  color: white;
}

#submitBtn:hover {
  background-color: rgba(1, 1, 122, .75);
  color: white;
}

.deleteBtn:hover {
  background-color: rgba(600, 50, 100, .75);
  color: white;
}

button {
  margin: 2px;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
}

/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  .reviews-container {
    grid-template-columns: 1fr;
  }

  .review {
    width: auto;
    height: auto;
  }
}

/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
  .reviews-container {
    grid-template-columns: repeat(2fr 200px);
  }
}

/*Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
  .reviews-container {
    grid-template-columns: repeat(2fr 350px);
  }

  .review {
    width: auto;
    /*height: auto;*/
  }
}

/*Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {}

/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}