body {
  text-align: center;
  margin: 0px 20px 200px 20px;
}

/*
User should see a 2 column grid
Each item in the grid should contain the review info (image, name of work, artrist, link)
Each grid box should be a square
Within each square the image of each item should be a maximum width and height
The name and artist should be at the same height positioned at the bottom of each grid square in each row
*/

.reviews-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
  /* Two columns of equal width */
  gap: 1rem;
  /* Add spacing between the items */
}

.review {
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  margin: auto;
  /*padding: 20px;*/
  /*margin: 20px;*/
}

.review-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.review-img {
  /*height: max-content;
  width: max-content;*/
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.review-details {
  /*position: absolute;*/
  /*bottom: 10px;*/
  text-align: center;
  /*width: 100%;*/
}

/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  .reviews-container {
    grid-template-columns: 1fr;
  }

  .review {
    width: auto;
    height: auto;
  }
}

/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
  .reviews-container {
    grid-template-columns: repeat(2fr 200px);
  }
}

/*Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
  .reviews-container {
    grid-template-columns: repeat(2fr 350px);
  }

  .review {
    width: auto;
    /*height: auto;*/
  }
}

/*Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {}

/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}