body {
text-align: center;
margin-bottom: 200px;
}

/*
User should see a 2 column grid
Each item in the grid should contain the review info (image, name of work, artrist, link)
Each grid box should be a square
Within each square the image of each item should be a maximum width and height
The name and artist should be at the same height positioned at the bottom of each grid square in each row
*/
  
.reviews-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 500px); /* Two columns of equal width */
  gap: 1rem; /* Add spacing between the items */
}

.review {
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  margin: auto;
}

.review-img {
  max-width: 90%;
  max-height: 90%;
  /*max-width: 500px;
  max-height: 500px;*/
  object-fit: contain;
}

.review-details {
  /*position: absolute;*/
  /*bottom: 10px;*/
  text-align: center;
  /*width: 100%;*/
}